body {
    background-color: rgb(0, 0, 0);
    color: rgb(220, 220, 220);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

A {
    color: rgb(255, 255, 255);
    /* Цвет ссылок */
}

A:visited {
    color: rgb(128, 128, 128);
    /* Цвет посещенных ссылок */
}

A:active {
    color: rgb(255, 255, 0);
    /* Цвет активных ссылок */
}

article {
    margin-left: 20px;
    margin-right: 20px;
}

.a_footer {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

header {
    background: url('https://d626yq9e83zk1.cloudfront.net/files/2017/12/26-770x425.jpg') bottom center no-repeat;
    width: 100%;
    color: white;
    text-align: center;
    overflow: hidden;
}

address {
    text-align: center;
}

li {
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    padding: 20px 10px 0px 10px;
}

h2 {
    text-align: center;
    padding: 10px 10px 0px 0px;
}

h3 {
    vertical-align: middle;
    display: table-cell;
}

.h3InCard {
    height: 65px;
    max-width: 350px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;

    display: table;
    position: relative;
    text-align: center;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    max-width: 350px;
    min-width: 256px;
    max-height: fit-content;
    text-align: center;
    margin: 10px 10px 10px 10px;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.textInCard {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 145px;
}

.imgInBox {
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
    height: 175px;
}

.imgSmall {
    border-radius: 10px 10px 10px 10px;
    height: 156px;
    padding-right: 135px;
}

.imgBig {
    border-radius: 10px 10px 10px 10px;
    height: 317px;
}

td.right {
    vertical-align: top;
    padding: 0 0 0 20px;
    width: 120px
}

td.left {
    vertical-align: top;
}

table {
    width: 100%;
}

.frame {
    max-width: 1400px;
    overflow: hidden;
    margin: auto;
}

.indent {
    padding: 0 40px 0 40px;
}

p {
    text-indent: 1.5em;
}

@media (min-width:680px) {
    header {
        background-size: 100%;
        height: 150px;
    }
}

@media (min-width:555px) and (max-width:679px) {
    header {
        background-size: auto;
        height: 170px;
    }
}

@media (min-width:380px) and (max-width:554px) {
    header {
        background-size: auto;
        height: 230px;
    }
}

@media (max-width:379px) {
    header {
        background-size: auto;
        height: 270px;
    }
}

@media screen and (max-width:880px) {
    .imgSmall {
        padding-right: 0px;
    }
}

@media screen and (min-width:550px) and (max-width:880px) {
    .imgBig {
        width: 282px;
        height: 158px;
    }
}

@media screen and (min-width:375px) and (max-width:549px) {
    .imgBig {
        width: 141px;
        height: 79px;
    }

    .imgSmall {
        width: 141px;
        height: 79px;
    }

    td.right {
        vertical-align: middle;
        padding: 10px;
    }
}

@media screen and (max-width:374px) {
    .imgBig {
        display: none
    }

    .imgSmall {
        display: none
    }
}